/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  color: var(--Themes-mainColor);
  background-image: var(--Themes-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-weight: var(--font-variation-settings); */
  font-variation-settings: "wgth" var(--font-variation-settings);
}
.header {
  /* width: var(--block-size) ; */
  font-family: var(--accent-font-family), fantasy;
  display: flex;
  align-items: center;
  inline-size: var(--block-size);
  flex-direction: column;
  background-color: var(--Themes-background-color);
  border: 2px solid var(--Themes-mainColor);
  margin-block: 102px 104px;
}
.header__title {
  /* font-size: var(--header-size); */
  margin-block-start: var(--header-margin-start);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}
.header__text {
  /* font-size: var(--header-text-size); */
  text-transform: uppercase;
  /* margin-block-end: 20px; */
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}
.header__theme-menu {
  align-items: center;
  /* max-width: 84px; */
  justify-content: center;
}
.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  /* align-items:center; */
  /* justify-content: end; */
  margin-block-start: 25px;
  font-size: 14px;
  margin-block-end: 25px;
}
.theme-menu__button {
  position: relative;
  display: flex;
  text-transform: uppercase;
  background-color: transparent;
  border: transparent;
  font-size: 14px;
  /* font-weight: 400; */
  cursor: pointer;
  /* opacity: 1; */
  transition: opacity 0.3s ease;
  margin-inline-start: 20px;
  padding: 0;
}
.theme-menu__item button:disabled::before {
  content: "▶";
  display: inline-block;
  opacity: 0.6;
  animation: cursor-translation 0.6s ease-in-out infinite alternate;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-block-start: 95px; */
}
.card {
  background-color: var(--Themes-background-color);
  outline: 2px solid var(--Themes-mainColor);
  /* font-family: "Inter"; */
  font-family: var(--main-font-family);
  border: 2px solid var(--Themes-mainColor, #000);
  inline-size: var(--block-size);
}
.card:not(:first-child) {
  margin-block-start: 50px;
}
.card__header {
  /* max-width: 371px; */
  font-size: 18px;
  /* font-weight: var(--accent-font-weight); */
  margin-block-end: 5px;
  /* margin: 8px 10px; */
  margin-block-start: 2px;
  margin-inline: 10px 24px;
  font-variation-settings: var(--accent-font-weight);
}
.card__image {
  inline-size: 100%;
  object-fit: cover;
  /* border: 1px solid var(--Themes-mainColor); */
  /* aspect-ratio: 1 / 1; */
  object-position: center right;
  border: 2px solid var(--Themes-mainColor);
}
.card__text-section {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-start: 25px;
  margin-left: 25px;
  /* margin: 27px 25px 25px; */
  margin-block-end: 25px;
  /* margin-right: 25px; */
  margin-right: var(--margin-card-text);
}
.card__text {
  /* margin: 25px 28px; */
  /* margin-block-start: 25px; */
  /* line-height: 116.667%; */
  font-weight: var(--font-variation-settings);
  /* margin-block-end: 25px; */
}
/* .card__text :last-child {
  margin-block-start: 0;
} */
.image__section {
  position: relative;
  /* margin-block-end: 27px; */
}
.image__text {
  font-family: "Press Start 2P", fantasy;
  font-size: 14px;
  /* font-weight: 400; */
  color: var(--Themes-mainColor);
  position: absolute;
  inset-inline-end: var(--image-margin);
  inset-block-start: var(--image-start);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-shadow: -1px 0 var(--shadow-color), 0 1px var(--shadow-color),
    1px 0 var(--shadow-color), 0 -1px var(--shadow-color);
}

.card__icon-button {
  background-color: transparent;
  border: transparent;
  block-size: 36px;
  inline-size: 39px;
  padding: 0;
  transition: outline 0.3s ease;
  cursor: pointer;
}
.buttons {
  display: flex;
  /* grid-template-columns:a auto; */
  /* grid-row: auto; */
  justify-content: end;
  /* align-items: center; */
  gap: 30px;
}
.button__text {
  display: flex;
  font-family: "Press Start 2P", fantasy;
  /* padding: 9px 17px; */
  font-size: 14px;
  line-height: 90%;
  /* margin-inline-end: 25px; */
  /* mix-blend-mode: difference; */
  transition: mix-blend-mode 0.5s;
  /* margin-inline-start: 17px; */
  /* margin-block-end: 10px; */
}
.card__like-button {
  inset-inline-end: 25px;
  margin-block-end: 25px;
  border: 2px solid var(--Themes-mainColor);
  background-color: transparent;
  width: 130px;
  inline-size: 130px;
  block-size: 38px;
}
.saturated {
  filter: saturate(30%);
}
.sepia {
  filter: sepia(90%);
}
.blur {
  filter: blur(10px);
}
.invert {
  filter: invert(0.8);
}
.hue-rotate {
  filter: contrast(150%) brightness(80%);
}
.card__image-multi {
  filter: saturate(210%) contrast(200%) brightness(200%) contrast(65%)
    brightness(110%);
}
.card__image-hue-rotate {
  filter: hue-rotate(40deg);
}
.card__image-multi-filter {
  filter: hue-rotate(70deg) contrast(50%);
}
.footer {
  display: flex;
  /* background-color: aqua; */
  /* flex-direction: column; */
  /* justify-self: center;
  align-items: center; */
  width: var(--footer-block-size);
  margin-block-start: 54px;
  gap: 8px;
}
.like-icon {
  margin: 0;
  fill: currentColor;
  inline-size: 39px;
  block-size: 36px;
}
.button__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--Themes-mainColor);
  font-size: 14px;
  /* font-weight: 400; */
  /* line-height: 90%; */
}
.save__button {
  /* min-inline-size: 306px; */
  inline-size: var(--footer-block-size);
  /* min-block-size: 51px; */
  /* margin-block: 54px 102px; */
  background-color: var(--Themes-background-color);
  /* gap: 8px; */
  display: flex;
  flex-direction: column;
  /* margin-block-end: 10px; */
  /* margin-bottom: 400px; */
}
.footer__text {
  margin-block-end: 10px;
  /* margin-block-start: -2px; */
}
.floppy {
  /* margin-block-start: 15px; */
  inline-size: 21px;
  fill: var(--Themes-mainColor);
  /* flex-wrap: wrap; */
  mix-blend-mode: difference;
  transition: mix-blend-mode .5s;
}
.dialog .floppy {
  inline-size: 39px;
  block-size: 39px;
  color: var(--Themes-mainColor);
  mix-blend-mode: normal;
}
@media (width > 380px) {
  .card:not(:first-child) {
    margin-block-start: 54px;
  }
  .card__header {
    margin-block-end: 5px;
  }
  dialog {
    padding: 30px;
  }
  .save__button {
    flex-direction: row;
  }
  .floppy {
    inline-size: 21px;
  }
  .footer__text {
    margin-block-start: 15px;
  }
}
@supports (
  (text-stroke: 1px var(--text-color)) or
    (-webkit-text-stroke: 1px var(--text-color))
) {
  .image-text {
    -webkit-text-stroke: 1px var(--text-color);
    text-stroke: 1px var(--text-color);
    text-shadow: none;
  }
}
dialog {
  background-color: var(--Themes-background-color);
  color: var(--Themes-mainColor);
  font-family: "Press Start 2P", fantasy;
  font-size: 14px;
  font-weight: 400;
  inline-size: min(90.9%, 357px);
  padding: 30px 40px;
  position: fixed;
  border: 2px solid var(--Themes-mainColor);
  inset: 0;
  margin: auto;
  top: -2px;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
.dialog__content {
  display: grid;
  grid-template-columns: 39px auto;
  gap: 20px;
  justify-content: center;
}
.dialog__content .floppy {
  inline-size: 100%;
}
.dialog__button {
  inline-size: 100%;
  text-transform: uppercase;
  margin-block-start: 30px;
  padding-block: 9px;
  background-color: var(--Themes-background-color);
}
.theme-menu__item button:focus-visible::after {
  outline: none;
  width: 100%;
  opacity: 0.6;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--Themes-mainColor);
}
.button__decor:focus {
  outline: none;
}
.button__decor:focus-visible {
  box-shadow: 2px 2px 0 0 var(--Themes-mainColor);
  position: relative;
  /* transition: box-shadow 0.3s ease; */
}
